openapi: 3.0.3
info:
  title: Duvo Public Agent Folders ClarityV2 API
  description: Public API for programmatic access to Duvo. Authenticate with API keys created in the Duvo dashboard.
  version: 1.0.0
servers:
- url: https://api.duvo.ai
  description: Production server
tags:
- name: ClarityV2
  description: Manage Clarity v2 process snapshots, transformation proposals, and the extra-capture-request follow-up loop
paths:
  /v2/clarity-v2/processes/{process_id}:
    get:
      operationId: getClarityProcess
      tags:
      - ClarityV2
      description: 'Get the v2 read model for a clarity process: the process row (with operational fields like generation_error, generation_progress, custom_prompt), its captures, and the lightweight version arrays for both snapshot tabs. The full payload of any specific snapshot is fetched lazily via the unified per-snapshot detail endpoint (`GET .../snapshots/:kind/:id`); this read model deliberately doesn''t carry it so the response stays small.'
      parameters:
      - schema:
          default: full
          type: string
          enum:
          - full
          - lite
        in: query
        name: captures
        required: false
        description: Capture payload mode. `full` (default) embeds each capture's transcript content. `lite` omits `transcript`/`videoTranscript` (returned as null) and relies on the `hasTranscript`/`hasVideoTranscript` flags; fetch content on demand via `GET .../captures/:capture_id`.
      - schema:
          type: string
          format: uuid
        in: path
        name: process_id
        required: true
        description: The clarity process id
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  process:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Clarity process id
                      team_id:
                        type: string
                        format: uuid
                        description: Owning team id
                      user_id:
                        type: string
                        format: uuid
                        description: Creator user id
                      name:
                        type: string
                        description: Process name
                      status:
                        type: string
                        enum:
                        - draft
                        - collecting
                        - generating
                        - generating-current-process
                        - generating-transformation-proposal
                        - review
                        - complete
                        - generation_failed
                        description: Lifecycle status
                      visibility:
                        type: string
                        enum:
                        - team
                        - restricted
                        description: Process visibility. 'team' is workspace-visible to full members; 'restricted' is visible to the creator, org admins, workspace managers/admins, and accepted grant holders.
                      version:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                        description: Schema version (always 2 here)
                      generation_error:
                        nullable: true
                        description: Error message from the most recent failed generation, if any
                        type: string
                      generation_progress:
                        nullable: true
                        description: Live progress checklist while a generation is in flight; null otherwise. Field names inside the payload are camelCase, matching the legacy v1 generation-progress shape.
                        type: object
                        properties:
                          steps:
                            type: array
                            items:
                              type: object
                              properties:
                                key:
                                  type: string
                                label:
                                  type: string
                                status:
                                  type: string
                                  enum:
                                  - pending
                                  - in_progress
                                  - complete
                                order:
                                  type: number
                                count:
                                  type: number
                              required:
                              - key
                              - label
                              - status
                              - order
                              additionalProperties: false
                        required:
                        - steps
                        additionalProperties: false
                      custom_prompt:
                        nullable: true
                        description: User-supplied custom prompt that steers generation
                        type: string
                      created_at:
                        type: string
                        description: ISO 8601 creation timestamp
                      updated_at:
                        type: string
                        description: ISO 8601 last-update timestamp
                    required:
                    - id
                    - team_id
                    - user_id
                    - name
                    - status
                    - visibility
                    - version
                    - generation_error
                    - generation_progress
                    - custom_prompt
                    - created_at
                    - updated_at
                    additionalProperties: false
                  current_process_versions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Snapshot id
                        process_id:
                          type: string
                          format: uuid
                          description: Parent clarity_process id
                        parent_current_process_id:
                          nullable: true
                          description: Parent current-process snapshot this draft forked from
                          type: string
                          format: uuid
                        created_at:
                          type: string
                          description: ISO 8601 creation timestamp
                        status:
                          type: string
                          enum:
                          - live
                          - historic
                          - draft
                          - generating
                          description: Versioning state. Only one 'live' row per process at a time; drafts may be edited or generating before promotion.
                        creator_type:
                          type: string
                          enum:
                          - human
                          - ai
                          description: Whether this row was created by a user edit ('human') or an AI pipeline run ('ai').
                        user_id:
                          nullable: true
                          description: Creator user id (the human who edited or triggered the run).
                          type: string
                          format: uuid
                        sandbox_id:
                          nullable: true
                          description: E2B sandbox id that produced AI rows; null for user edits.
                          type: string
                        last_session_id:
                          nullable: true
                          description: Claude SDK session id for artifact-chat follow-up reuse.
                          type: string
                      required:
                      - id
                      - process_id
                      - parent_current_process_id
                      - created_at
                      - status
                      - creator_type
                      - user_id
                      - sandbox_id
                      - last_session_id
                      additionalProperties: false
                    description: All non-deleted current-process snapshots, newest first. Lightweight rows (no `data`) for the version-picker UI. Clients lazy-fetch the live (or selected) snapshot via the per-snapshot detail endpoint.
                  transformation_proposal_versions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Proposal id
                        process_id:
                          type: string
                          format: uuid
                          description: Parent clarity_process id
                        clarity_current_process_id:
                          type: string
                          format: uuid
                          description: The current-process snapshot this proposal was generated against (provenance only; the live proposal can target any current-process snapshot).
                        parent_transformation_proposal_id:
                          nullable: true
                          description: Parent transformation-proposal snapshot this draft forked from
                          type: string
                          format: uuid
                        created_at:
                          type: string
                          description: ISO 8601 creation timestamp
                        status:
                          type: string
                          enum:
                          - live
                          - historic
                          - draft
                          - generating
                          description: Versioning state. Only one 'live' row per process at a time; drafts may be edited or generating before promotion.
                        creator_type:
                          type: string
                          enum:
                          - human
                          - ai
                          description: Whether this row was created by a user edit ('human') or an AI pipeline run ('ai').
                        user_id:
                          nullable: true
                          description: Creator user id (the human who edited or triggered the run).
                          type: string
                          format: uuid
                        sandbox_id:
                          nullable: true
                          description: E2B sandbox id that produced AI rows; null for user edits.
                          type: string
                        last_session_id:
                          nullable: true
                          description: Claude SDK session id for artifact-chat follow-up reuse.
                          type: string
                        extra_capture_requests:
                          description: Active extra-capture requests for this proposal. Populated only on the live proposal version row in the read-model endpoint so the FE can render assignment UI without a second round-trip; historic versions return an empty array. Other endpoints (e.g. admin snapshot views) may omit it entirely, in which case it is `undefined`. The standalone list endpoint stays the source of truth for paginated/admin views.
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                description: Extra-capture-request id
                              proposal_id:
                                type: string
                                format: uuid
                                description: The transformation proposal this request belongs to
                              step_id:
                                type: string
                                description: Step id within the proposal's BPMN graph
                              capture_id:
                                nullable: true
                                description: Capture that fulfilled this request, once one is created
                                type: string
                                format: uuid
                              requested_user_id:
                                nullable: true
                                description: Assigned team member, if any
                                type: string
                                format: uuid
                              status:
                                type: string
                                enum:
                                - requested
                                - captured
                                - resolved
                                description: Lifecycle status of the request
                              gap:
                                type: string
                                description: Plain-language gap blocking automation
                              suggested_prompt:
                                nullable: true
                                description: LLM-produced suggested capture prompt
                                type: string
                              priority:
                                type: string
                                enum:
                                - low
                                - medium
                                - high
                                description: Priority of fulfilling this request
                              created_at:
                                type: string
                                description: ISO 8601 creation timestamp
                              updated_at:
                                type: string
                                description: ISO 8601 last-update timestamp
                            required:
                            - id
                            - proposal_id
                            - step_id
                            - capture_id
                            - requested_user_id
                            - status
                            - gap
                            - suggested_prompt
                            - priority
                            - created_at
                            - updated_at
                            additionalProperties: false
                      required:
                      - id
                      - process_id
                      - clarity_current_process_id
                      - parent_transformation_proposal_id
                      - created_at
                      - status
                      - creator_type
                      - user_id
                      - sandbox_id
                      - last_session_id
                      additionalProperties: false
                    description: All non-deleted transformation-proposal snapshots, newest first. Lightweight rows (no `data`) for the version-picker UI.
                  captures:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        processId:
                          type: string
                          format: uuid
                        userId:
                          type: string
                          format: uuid
                        userName:
                          type: string
                        type:
                          type: string
                          x-extensible-enum:
                          - video
                          - interview
                          - document
                          - screenshare
                          - meeting
                        videoUrl:
                          nullable: true
                          type: string
                        videoTranscript:
                          nullable: true
                          type: string
                        documentFileName:
                          nullable: true
                          type: string
                        documentTextMetadata:
                          nullable: true
                          type: object
                          properties:
                            pages:
                              type: array
                              items:
                                type: object
                                properties:
                                  pageNumber:
                                    type: integer
                                    exclusiveMinimum: true
                                    maximum: 9007199254740991
                                  startOffset:
                                    type: integer
                                    minimum: 0
                                    maximum: 9007199254740991
                                  endOffset:
                                    type: integer
                                    minimum: 0
                                    maximum: 9007199254740991
                                  lines:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        pageNumber:
                                          type: integer
                                          exclusiveMinimum: true
                                          maximum: 9007199254740991
                                        lineNumber:
                                          type: integer
                                          exclusiveMinimum: true
                                          maximum: 9007199254740991
                                        startOffset:
                                          type: integer
                                          minimum: 0
                                          maximum: 9007199254740991
                                        endOffset:
                                          type: integer
                                          minimum: 0
                                          maximum: 9007199254740991
                                      required:
                                      - pageNumber
                                      - lineNumber
                                      - startOffset
                                      - endOffset
                                      additionalProperties: false
                                required:
                                - pageNumber
                                - startOffset
                                - endOffset
                                - lines
                                additionalProperties: false
                          required:
                          - pages
                          additionalProperties: false
                        transcript:
                          nullable: true
                          type: array
                          items:
                            type: object
                            properties:
                              source:
                                type: string
                                enum:
                                - ai
                                - user
                                - interviewer
                              speakerName:
                                type: string
                              message:
                                type: string
                                minLength: 1
                              timestamp:
                                type: number
                            required:
                            - source
                            - message
                            additionalProperties: false
                        hasTranscript:
                          type: boolean
                        hasVideoTranscript:
                          type: boolean
                        transcriptQuestionCount:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        status:
                          type: string
                          enum:
                          - pending
                          - recording
                          - processing
                          - complete
                          - failed
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                      required:
                      - id
                      - processId
                      - userId
                      - type
                      - videoUrl
                      - videoTranscript
                      - transcript
                      - status
                      - createdAt
                      - updatedAt
                      additionalProperties: false
                    description: All captures (videos, interviews, documents) attached to this process. Field names follow the legacy v1 capture wire format (camelCase) so existing capture consumers keep working unchanged.
                required:
                - process
                - current_process_versions
                - transformation_proposal_versions
                - captures
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
      summary: Get Clarity Process
  /v2/clarity-v2/processes/{process_id}/postprocess:
    post:
      operationId: postprocessClaritySnapshot
      tags:
      - ClarityV2
      description: Re-run postprocessing agents on an existing v2 clarity snapshot. Targets either the current-process snapshot or the transformation-proposal snapshot, identified by id in the body. Flips the process status to `generating` and returns 202 immediately; agents run asynchronously and flip the status back to `review` once they settle.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - current_process
                  current_process_id:
                    type: string
                    format: uuid
                    description: ID of the `clarity_current_process` snapshot to re-postprocess.
                required:
                - type
                - current_process_id
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - transformation_proposal
                  transformation_proposal_id:
                    type: string
                    format: uuid
                    description: ID of the `clarity_transformation_proposal` snapshot to re-postprocess.
                required:
                - type
                - transformation_proposal_id
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: process_id
        required: true
        description: The clarity process id
      security:
      - bearerAuth: []
      responses:
        '202':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                - success
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
      summary: Postprocess Clarity Snapshot
  /v2/clarity-v2/processes/{process_id}/automation:
    post:
      operationId: buildClarityAutomation
      tags:
      - ClarityV2
      description: Hand the latest transformation proposal for a v2 clarity process off to the workflow-builder pipeline. Returns 202 with the new run id; the LLM run completes asynchronously.
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: process_id
        required: true
        description: The clarity process id
      security:
      - bearerAuth: []
      responses:
        '202':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  automation_run:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Workflow-builder run id
                      status:
                        type: string
                        enum:
                        - generating
                        description: Always `generating` immediately after kickoff
                    required:
                    - id
                    - status
                    additionalProperties: false
                required:
                - automation_run
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
      summary: Build Clarity Automation
  /v2/clarity-v2/processes/{process_id}/transformation-proposals/{transformation_proposal_id}/extra-capture-requests:
    get:
      operationId: listClarityExtraCaptureRequests
      tags:
      - ClarityV2
      description: List active extra-capture requests for a given transformation proposal of a Clarity v2 process. The caller is expected to know the proposal id from the V2 read model and skip the call when no proposal exists yet.
      parameters:
      - schema:
          default: 20
          type: integer
          minimum: 1
          maximum: 100
        in: query
        name: limit
        required: false
        description: Number of results per page (1-100, default 20)
      - schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        in: query
        name: offset
        required: false
        description: Number of results to skip (default 0)
      - schema:
          type: string
          format: uuid
        in: path
        name: process_id
        required: true
        description: The clarity process id
      - schema:
          type: string
          format: uuid
        in: path
        name: transformation_proposal_id
        required: true
        description: The transformation proposal id
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Extra-capture-request id
                        proposal_id:
                          type: string
                          format: uuid
                          description: The transformation proposal this request belongs to
                        step_id:
                          type: string
                          description: Step id within the proposal's BPMN graph
                        capture_id:
                          nullable: true
                          description: Capture that fulfilled this request, once one is created
                          type: string
                          format: uuid
                        requested_user_id:
                          nullable: true
                          description: Assigned team member, if any
                          type: string
                          format: uuid
                        status:
                          type: string
                          enum:
                          - requested
                          - captured
                          - resolved
                          description: Lifecycle status of the request
                        gap:
                          type: string
                          description: Plain-language gap blocking automation
                        suggested_prompt:
                          nullable: true
                          description: LLM-produced suggested capture prompt
                          type: string
                        priority:
                          type: string
                          enum:
                          - low
                          - medium
                          - high
                          description: Priority of fulfilling this request
                        created_at:
                          type: string
                          description: ISO 8601 creation timestamp
                        updated_at:
                          type: string
                          description: ISO 8601 last-update timestamp
                      required:
                      - id
                      - proposal_id
                      - step_id
                      - capture_id
                      - requested_user_id
                      - status
                      - gap
                      - suggested_prompt
                      - priority
                      - created_at
                      - updated_at
                      additionalProperties: false
                  total:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: Total matching rows across all pages
                  limit:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: Page size that was applied
                  offset:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: Offset that was applied
                required:
                - requests
                - total
                - limit
                - offset
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
      summary: List Clarity Extra Capture Requests
  ? /v2/clarity-v2/processes/{process_id}/transformation-proposals/{transformation_proposal_id}/extra-capture-requests/{request_id}/assign
  : patch:
      operationId: assignClarityExtraCaptureRequest
      tags:
      - ClarityV2
      description: 'Assign (or unassign, with `user_id: null`) a team member to fulfil an extra-capture request. Restricted to admins and managers.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  nullable: true
                  description: Team member to assign, or null to unassign
                  type: string
                  format: uuid
              required:
              - user_id
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: process_id
        required: true
        description: The clarity process id
      - schema:
          type: string
          format: uuid
        in: path
        name: transformation_proposal_id
        required: true
        description: The transformation proposal id
      - schema:
          type: string
          format: uuid
        in: path
        name: request_id
        required: true
        description: The extra-capture-request id
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Extra-capture-request id
                      proposal_id:
                        type: string
                        format: uuid
                        description: The transformation proposal this request belongs to
                      step_id:
                        type: string
                        description: Step id within the proposal's BPMN graph
                      capture_id:
                        nullable: true
                        description: Capture that fulfilled this request, once one is created
                        type: string
                        format: uuid
                      requested_user_id:
                        nullable: true
                        description: Assigned team member, if any
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum:
                        - requested
                        - captured
                        - resolved
                        description: Lifecycle status of the request
                      gap:
                        type: string
                        description: Plain-language gap blocking automation
                      suggested_prompt:
                        nullable: true
                        description: LLM-produced suggested capture prompt
                        type: string
                      priority:
                        type: string
                        enum:
                        - low
                        - medium
                        - high
                        description: Priority of fulfilling this request
                      created_at:
                        type: string
                        description: ISO 8601 creation timestamp
                      updated_at:
                        type: string
                        description: ISO 8601 last-update timestamp
                    required:
                    - id
                    - proposal_id
                    - step_id
                    - capture_id
                    - requested_user_id
                    - status
                    - gap
                    - suggested_prompt
                    - priority
                    - created_at
                    - updated_at
                    additionalProperties: false
                    description: The updated extra-capture request, including the new assignee
                required:
                - request
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
      summary: Assign Clarity Extra Capture Request
  /v2/clarity-v2/processes/{process_id}/invite-link:
    post:
      operationId: createClarityInviteLink
      tags:
      - ClarityV2
      description: Create or regenerate a process-scoped Clarity interview invite link. Only the process creator or team managers can create invite links; creating a new link invalidates any prior active link for the process.
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: process_id
        required: true
        description: The clarity process id
      security:
      - bearerAuth: []
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invite_link:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Invite-link id
                      url:
                        type: string
                        format: uri
                        description: Process-scoped invite URL
                      created_at:
                        type: string
                        format: date-time
                        description: ISO 8601 creation timestamp
                      created_by:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: User id that created the invite link
                          email:
                            nullable: true
                            description: Creator email, when available
                            type: string
                            format: email
                        required:
                        - id
                        - email
                        additionalProperties: false
                    required:
                    - id
                    - url
                    - created_at
                    - created_by
                    additionalProperties: false
                required:
                - invite_link
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
      summary: Create Clarity Invite Link
  /v2/clarity-v2/processes/{process_id}/artifact-imports/create-upload-url:
    post:
      operationId: createClarityArtifactImportUploadUrl
      tags:
      - ClarityV2
      description: Create a signed upload URL for importing a Miro export into a Clarity v2 process. Supports SVG, XML, PNG, and JPEG exports. The caller must upload the file to the returned URL, then complete the import.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                  minLength: 1
                  pattern: ^.*\.(?:[sS][vV][gG]|[xX][mM][lL]|[pP][nN][gG]|[jJ][pP][eE]?[gG])$
                  description: 'Name of the Miro export file. Supported extensions: .svg, .xml, .png, .jpg, .jpeg'
                content_type:
                  type: string
                  enum:
                  - image/svg+xml
                  - application/xml
                  - text/xml
                  - image/png
                  - image/jpeg
                  description: MIME type of the Miro export file
                extra_capture_request_id:
                  description: Optional extra-capture-request id to bind this import to
                  type: string
                  format: uuid
              required:
              - file_name
              - content_type
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: process_id
        required: true
        description: The clarity process id
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  signed_url:
                    type: string
                    format: uri
                    description: Signed URL for uploading the artifact
                  capture_id:
                    type: string
                    format: uuid
                    description: Pending capture id to pass to completion
                  expires_at:
                    type: string
                    format: date-time
                    description: ISO 8601 upload URL expiration timestamp
                required:
                - signed_url
                - capture_id
                - expires_at
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
      summary: Create Clarity Artifact Import Upload URL
  /v2/clarity-v2/processes/{process_id}/artifact-imports/{capture_id}/complete:
    post:
      operationId: completeClarityArtifactImport
      tags:
      - ClarityV2
      description: Complete a Miro artifact import after uploading to the signed URL. The uploaded bytes are validated before the import becomes a usable Clarity capture.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                  minLength: 1
                  pattern: ^.*\.(?:[sS][vV][gG]|[xX][mM][lL]|[pP][nN][gG]|[jJ][pP][eE]?[gG])$
                  description: 'Name of the Miro export file. Supported extensions: .svg, .xml, .png, .jpg, .jpeg'
                content_type:
                  type: string
                  enum:
                  - image/svg+xml
                  - application/xml
                  - text/xml
                  - image/png
                  - image/jpeg
                  description: MIME type of the uploaded Miro export file
              required:
              - file_name
              - content_type
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: process_id
        required: true
        description: The clarity process id
      - schema:
          type: string
          format: uuid
        in: path
        name: capture_id
        required: true
        description: The pending capture id returned by the upload-url endpoint
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  capture:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      processId:
                        type: string
                        format: uuid
                      userId:
                        type: string
                        format: uuid
                      userName:
                        type: string
                      type:
                        type: string
                        x-extensible-enum:
                        - video
                        - interview
                        - document
                        - screenshare
                        - meeting
                      videoUrl:
                        nullable: true
                        type: string
                      videoTranscript:
                        nullable: true
                        type: string
                      documentFileName:
                        nullable: true
                        type: string
                      documentTextMetadata:
                        nullable: true
                        type: object
                        properties:
                          pages:
                            type: array
                            items:
                              type: object
                              properties:
                                pageNumber:
                                  type: integer
                                  exclusiveMinimum: true
                                  maximum: 9007199254740991
                                startOffset:
                                  type: integer
                                  minimum: 0
                                  maximum: 9007199254740991
                                endOffset:
                                  type: integer
                                  minimum: 0
                                  maximum: 9007199254740991
                                lines:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      pageNumber:
                                        type: integer
                                        exclusiveMinimum: true
                                        maximum: 9007199254740991
                                      lineNumber:
                                        type: integer
                                        exclusiveMinimum: true
                                        maximum: 9007199254740991
                                      startOffset:
                                        type: integer
                                        minimum: 0
                                        maximum: 9007199254740991
                                      endOffset:
                                        type: integer
                                        minimum: 0
                                        maximum: 9007199254740991
                                    required:
                                    - pageNumber
                                    - lineNumber
                                    - startOffset
                                    - endOffset
                                    additionalProperties: false
                              required:
                              - pageNumber
                              - startOffset
                              - endOffset
                              - lines
                              additionalProperties: false
                        required:
                        - pages
                        additionalProperties: false
                      transcript:
                        nullable: true
                        type: array
                        items:
                          type: object
                          properties:
                            source:
                              type: string
                              enum:
                              - ai
                              - user
                              - interviewer
                            speakerName:
                              type: string
                            message:
                              type: string
                              minLength: 1
                            timestamp:
                              type: number
                          required:
                          - source
                          - message
                          additionalProperties: false
                      hasTranscript:
                        type: boolean
                      hasVideoTranscript:
                        type: boolean
                      transcriptQuestionCount:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      status:
                        type: string
                        enum:
                        - pending
                        - recording
                        - processing
                        - complete
                        - failed
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                    required:
                    - id
                    - processId
                    - userId
                    - type
                    - videoUrl
                    - videoTranscript
                    - transcript
                    - status
                    - createdAt
                    - updatedAt
                    additionalProperties: false
                required:
                - capture
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '413':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
      summary: Complete Clarity Artifact Import
  /v2/clarity-v2/processes/{process_id}/artifact-chat/conversations:
    get:
      operationId: listClarityArtifactChatConversations
      tags:
      - ClarityV2
      description: List the current user's recent non-deleted artifact-chat conversations for a Clarity v2 process and snapshot kind.
      parameters:
      - schema:
          type: string
          enum:
          - current_process
          - transformation_proposal
        in: query
        name: snapshot_kind
        required: true
        description: Artifact kind to list conversations for
      - schema:
          type: string
          format: uuid
        in: path
        name: process_id
        required: true
        description: The Clarity process id
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        user_id:
                          type: string
                          format: uuid
                        process_id:
                          type: string
                          format: uuid
                        snapshot_kind:
                          type: string
                          enum:
                          - current_process
                          - transformation_proposal
                        title:
                          nullable: true
                          type: string
                        sandbox_id:
                          nullable: true
                          type: string
                        session_id:
                          nullable: true
                          type: string
                        status:
                          type: string
                          enum:
                          - open
                          - running
                          - waiting_for_patch
                          - waiting_for_hitl
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        deleted_at:
                          nullable: true
                          type: string
                      required:
                      - id
                      - user_id
                      - process_id
                      - snapshot_kind
                      - title
                      - sandbox_id
                      - session_id
                      - status
                      - created_at
                      - updated_at
                      - deleted_at
                      additionalProperties: false
                required:
                - conversations
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
      summary: List Clarity Artifact Chat Conversations
  /v2/clarity-v2/processes/{process_id}/artifact-chat/conversations/{conversation_id}/messages:
    get:
      operationId: getClarityArtifactChatMessages
      tags:
      - ClarityV2
      description: Load the latest artifact-chat messages for one active conversation, returned oldest-first.
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: process_id
        required: true
        description: The Clarity process id
      - schema:
          type: string
          format: uuid
        in: path
        name: conversation_id
        required: true
        description: The artifact-chat conversation id
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversation:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      user_id:
                        type: string
                        format: uuid
                      process_id:
                        type: string
                        format: uuid
                      snapshot_kind:
                        type: string
                        enum:
                        - current_process
                        - transformation_proposal
                      title:
                        nullable: true
                        type: string
                      sandbox_id:
                        nullable: true
                        type: string
                      session_id:
                        nullable: true
                        type: string
                      status:
                        type: string
                        enum:
                        - open
                        - running
                        - waiting_for_patch
                        - waiting_for_hitl
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      deleted_at:
                        nullable: true
                        type: string
                    required:
                    - id
                    - user_id
                    - process_id
                    - snapshot_kind
                    - title
                    - sandbox_id
                    - session_id
                    - status
                    - created_at
                    - updated_at
                    - deleted_at
                    additionalProperties: false
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        conversation_id:
                          type: string
                          format: uuid
                        role:
                          type: string
                          enum:
                          - user
                          - assistant
                          - system
                        kind:
                          type: string
                          enum:
                          - text
                          - patch
                          - hitl_question
                          - hitl_answer
                          - error
                          - info
                        body:
                          oneOf:
                          - type: object
                            properties:
                              kind:
                                type: string
                                enum:
                                - text
                              text:
                                type: string
                            required:
                            - kind
                            - text
                            additionalProperties: false
                          - type: object
                            properties:
                              kind:
                                type: string
                                enum:
                                - patch
                              status:
                                type: string
                                enum:
                                - pending
                                - accepted
                                - declined
                                - failed
                              summary:
                                type: string
                              patch:
                                readOnly: true
                                type: array
                                items:
                                  anyOf:
                                  - type: object
                                    properties:
                                      op:
                                        type: string
                                        enum:
                                        - add
                                        - replace
                                        - test
                                      path:
                                        type: string
                                      value:
                                        $ref: '#/components/schemas/ArtifactChatJsonValue'
                                    required:
                                    - op
                                    - path
                                    - value
                                    additionalProperties: false
                                  - type: object
                                    properties:
                                      op:
                                        type: string
                                        enum:
                                        - remove
                                      path:
                                        type: string
                                    required:
                                    - op
                                    - path
                                    additionalProperties: false
                                  - type: object
                                    properties:
                                      op:
                                        type: string
                                        enum:
                                        - move
                                        - copy
                                      from:
                                        type: string
                                      path:
                                        type: string
                                    required:
                                    - op
                                    - from
                                    - path
                                    additionalProperties: false
                              draft_snapshot_id:
                                nullable: true
                                type: string
                                format: uuid
                              snapshot_id:
                                nullable: true
                                type: string
                                format: uuid
                            required:
                            - kind
                            - status
                            - summary
                            - patch
                            - snapshot_id
                            additionalProperties: false
                          - type: object
                            properties:
                              kind:
                                type: string
                                enum:
                                - hitl_question
                              questions:
                                readOnly: true
                                minItems: 1
                                type: array
                                items:
                                  type: object
                                  properties:
                                    question:
                                      type: string
                                    header:
                                      default: ''
                                      type: string
                                    options:
                                      default: []
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          label:
                                            type: string
                                          description:
                                            default: ''
                                            type: string
                                        required:
                                        - label
                                        - description
                                        additionalProperties: false
                                    multiSelect:
                                      default: false
                                      type: boolean
                                  required:
                                  - question
                                  - header
                                  - options
                                  - multiSelect
                                  additionalProperties: false
                            required:
                            - kind
                            - questions
                            additionalProperties: false
                          - type: object
                            properties:
                              kind:
                                type: string
                                enum:
                                - hitl_answer
                              answers:
                                readOnly: true
                                type: object
                                additionalProperties:
                                  type: string
                            required:
                            - kind
                            - answers
                            additionalProperties: false
                          - type: object
                            properties:
                              kind:
                                type: string
                                enum:
                                - error
                              text:
                                type: string
                            required:
                            - kind
                            - text
                            additionalProperties: false
                          - type: object
                            properties:
                              kind:
                                type: string
                                enum:
                                - info
                              text:
                                type: string
                            required:
                            - kind
                            - text
                            additionalProperties: false
                        baseline_snapshot_id:
                          type: string
                          format: uuid
                        created_at:
                          type: string
                        updated_at:
                          type: string
                      required:
                      - id
                      - conversation_id
                      - role
                      - kind
                      - body
                      - baseline_snapshot_id
                      - created_at
                      - updated_at
                      additionalProperties: false
                required:
                - conversation
                - messages
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
      summary: Get Clarity Artifact Chat Messages
  /v2/clarity-v2/processes/{process_id}/artifact-chat/messages:
    post:
      tags:
      - ClarityV2
      description: Submit a persisted artifact-chat user message and start a text turn.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                conversation_id:
                  nullable: true
                  type: string
                  format: uuid
                snapshot_kind:
                  type: string
                  enum:
                  - current_process
                  - transformation_proposal
                baseline_snapshot_id:
                  type: string
                  format: uuid
                content:
                  type: string
                answers:
                  type: object
                  additionalProperties:
                    type: string
              required:
              - conversation_id
              - snapshot_kind
              - baseline_snapshot_id
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: process_id
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversation:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      user_id:
                        type: string
                        format: uuid
                      process_id:
                        type: string
                        format: uuid
                      snapshot_kind:
                        type: string
                        enum:
                        - current_process
                        - transformation_proposal
                      title:
                        nullable: true
                        type: string
                      sandbox_id:
                        nullable: true
                        type: string
                      session_id:
                        nullable: true
                        type: string
                      status:
                        type: string
                        enum:
                        - open
                        - running
                        - waiting_for_patch
                        - waiting_for_hitl
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      deleted_at:
                        nullable: true
                        type: string
                    required:
                    - id
                    - user_id
                    - process_id
                    - snapshot_kind
                    - title
                    - sandbox_id
                    - session_id
                    - status
                    - created_at
                    - updated_at
                    - deleted_at
                    additionalProperties: false
                  message:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      conversation_id:
                        type: string
                        format: uuid
                      role:
                        type: string
                        enum:
                        - user
                        - assistant
                        - system
                      kind:
                        type: string
                        enum:
                        - text
                        - patch
                        - hitl_question
                        - hitl_answer
                        - error
                        - info
                      body:
                        oneOf:
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - text
                            text:
                              type: string
                          required:
                          - kind
                          - text
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - patch
                            status:
                              type: string
                              enum:
                              - pending
                              - accepted
                              - declined
                              - failed
                            summary:
                              type: string
                            patch:
                              readOnly: true
                              type: array
                              items:
                                anyOf:
                                - type: object
                                  properties:
                                    op:
                                      type: string
                                      enum:
                                      - add
                                      - replace
                                      - test
                                    path:
                                      type: string
                                    value:
                                      $ref: '#/components/schemas/ArtifactChatJsonValue'
                                  required:
                                  - op
                                  - path
                                  - value
                                  additionalProperties: false
                                - type: object
                                  properties:
                                    op:
                                      type: string
                                      enum:
                                      - remove
                                    path:
                                      type: string
                                  required:
                                  - op
                                  - path
                                  additionalProperties: false
                                - type: object
                                  properties:
                                    op:
                                      type: string
                                      enum:
                                      - move
                                      - copy
                                    from:
                                      type: string
                                    path:
                                      type: string
                                  required:
                                  - op
                                  - from
                                  - path
                                  additionalProperties: false
                            draft_snapshot_id:
                              nullable: true
                              type: string
                              format: uuid
                            snapshot_id:
                              nullable: true
                              type: string
                              format: uuid
                          required:
                          - kind
                          - status
                          - summary
                          - patch
                          - snapshot_id
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - hitl_question
                            questions:
                              readOnly: true
                              minItems: 1
                              type: array
                              items:
                                type: object
                                properties:
                                  question:
                                    type: string
                                  header:
                                    default: ''
                                    type: string
                                  options:
                                    default: []
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        label:
                                          type: string
                                        description:
                                          default: ''
                                          type: string
                                      required:
                                      - label
                                      - description
                                      additionalProperties: false
                                  multiSelect:
                                    default: false
                                    type: boolean
                                required:
                                - question
                                - header
                                - options
                                - multiSelect
                                additionalProperties: false
                          required:
                          - kind
                          - questions
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - hitl_answer
                            answers:
                              readOnly: true
                              type: object
                              additionalProperties:
                                type: string
                          required:
                          - kind
                          - answers
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - error
                            text:
                              type: string
                          required:
                          - kind
                          - text
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - info
                            text:
                              type: string
                          required:
                          - kind
                          - text
                          additionalProperties: false
                      baseline_snapshot_id:
                        type: string
                        format: uuid
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - conversation_id
                    - role
                    - kind
                    - body
                    - baseline_snapshot_id
                    - created_at
                    - updated_at
                    additionalProperties: false
                required:
                - conversation
                - message
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '409':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
  /v2/clarity-v2/processes/{process_id}/artifact-chat/messages/{message_id}:
    put:
      tags:
      - ClarityV2
      description: Accept or decline a persisted artifact-chat patch proposal.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                decision:
                  type: string
                  enum:
                  - accept
                  - decline
              required:
              - decision
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: process_id
        required: true
      - schema:
          type: string
          format: uuid
        in: path
        name: message_id
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversation:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      user_id:
                        type: string
[...]
