openapi: 3.0.3
info:
  title: Duvo Public Agent Folders Agent Memory API
  description: Public API for programmatic access to Duvo. Authenticate with API keys created in the Duvo dashboard.
  version: 1.0.0
servers:
- url: https://api.duvo.ai
  description: Production server
tags:
- name: Agent Memory
  description: Read an agent's memory files (the Memory feature in the Duvo UI)
paths:
  /v2/agents/{agent_id}/memory/files:
    get:
      operationId: listAgentMemoryFiles
      tags:
      - Agent Memory
      description: List the memory files stored for an agent.
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: agent_id
        required: true
        description: The agent's unique identifier
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: File name without its directory prefix
                        path:
                          type: string
                          description: Relative path of the file within agent memory
                        updated_at:
                          description: Last-modified timestamp (ISO 8601)
                          type: string
                        generation:
                          description: GCS object generation of the file's current contents
                          type: string
                        source_type:
                          type: string
                          enum:
                          - job
                          - user
                        source_agent_run_id:
                          type: string
                        source_user_id:
                          type: string
                        source_updated_at:
                          type: string
                      required:
                      - name
                      - path
                      additionalProperties: false
                required:
                - files
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
      summary: List Agent Memory Files
  /v2/agents/{agent_id}/memory/files/{*}:
    get:
      operationId: getAgentMemoryFile
      tags:
      - Agent Memory
      description: Get the contents of a single memory file for an agent.
      parameters:
      - schema:
          type: string
          format: uuid
        in: path
        name: agent_id
        required: true
        description: The agent's unique identifier
      - schema:
          type: string
          minLength: 1
        in: path
        name: '*'
        required: true
        description: Relative path to the memory file, e.g. notes.md or context/customer.md
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  path:
                    type: string
                    description: Relative path of the file within agent memory
                  content:
                    type: string
                    description: UTF-8 decoded contents of the file
                  generation:
                    description: GCS object generation of the file's current contents
                    type: string
                  source_type:
                    type: string
                    enum:
                    - job
                    - user
                  source_agent_run_id:
                    type: string
                  source_user_id:
                    type: string
                  source_updated_at:
                    type: string
                required:
                - path
                - content
                additionalProperties: false
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                - error
                additionalProperties: false
      summary: Get Agent Memory File
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key authentication. Get your API key from the Duvo dashboard.
